<main>
    <div class="container">
        <h2>Error</h2>
        <p><a href="/restaurants">Go back to Restaurant list page</a></p>
        {{#if errorcode}}
        <p class="error">{{message}}</p>
        {{/if}}
    </div>
</main>